  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Furkan Sade Uckun</h3>
      <p>sadece Sade! <i class="bi bi-arrow-right"></i> s<sup>2</sup></p>
      <div class="social-links">
        <% if (socialMedia && socialMedia.linkedin) { %>
          <a href="<%= socialMedia.linkedin %>" class="linkedin"><i class="bi bi-linkedin"></i></a>
        <% } %>
      
        <% if (socialMedia && socialMedia.github) { %>
          <a href="<%= socialMedia.github %>" class="github"><i class="bi bi-github"></i></a>
        <% } %>
      
        <% if (socialMedia && socialMedia.twitter) { %>
          <a href="<%= socialMedia.twitter %>" class="twitter"><i class="bi bi-twitter"></i></a>
        <% } %>

        <% if (socialMedia && socialMedia.twitter) { %>
          <a href="<%= socialMedia.instagram %>" class="instagram"><i class="bi bi-instagram"></i></a>
        <% } %>
      
        <% if (socialMedia && socialMedia.youtube) { %>
          <a href="<%= socialMedia.youtube %>" class="youtube"><i class="bi bi-youtube"></i></a>
        <% } %>
      </div>
      
      <div class="copyright">
        &copy; Copyright <strong><span><a href="/">sadeSoftware</a></span></strong>
      </div>
    </div>
  </footer><!-- End Footer -->